<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de Usuario</h1>

		<div class="card text-center">
			<div class="card-header">Lista de Usuario</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Username</th>
							<th scope="col">Nombres</th>
							
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="u: ${usuarios}">
						<tr>
							<th scope="row" th:text="${u.id}">1</th>
							<td th:text="${u.username}">Mark</td>
							<td th:text="${u.nombres}">Otto</td>
							
							<td>
								<a  class="btn btn-info"> 
									<i class="fas fa-info"></i> 
								</a>
								<a  class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
								<a  class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
							</td>
						</tr>						
					</tbody>
				</table>

			</div>
			
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








