<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de Tipos Platos</h1>

		<div class="card text-center">
			<div class="card-header">Lista de Tipos Platos</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">Nombre</th>
							
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="plato: ${tipos}">
						<tr>
							<th scope="row" th:text="${plato.id_tipo}"></th>
							<td th:text="${plato.nom_tipo}"></td>
							
							<td>
								
								<a sec:authorize="hasRole('ROLE_GERENTE')" th:href="@{ '/tipo/edit/' + ${plato.id_tipo} }" class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
								<a sec:authorize="hasRole('ROLE_GERENTE')" th:href="@{ '/tipo/del/' + ${plato.id_tipo} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
							</td>
						</tr>						
					</tbody>
				</table>

			</div>
			<div sec:authorize="hasRole('ROLE_GERENTE')" class="card-footer text-muted">
				<a th:href="@{/tipo/nuevo}" class="btn btn-primary"><i class="fas fa-file-alt"></i> Nuevo tipo Plato</a>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








